
body {
  font-family: Arial, sans-serif;
  background: #0a0a0c;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.interfaz-juego {
  background: #11131a;
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

h1 {
  color: #ff3b3b;
  margin-bottom: 20px;
  font-size: 28px;
}

/* Input */
input {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 18px;
  background: #20222b;
  color: white;
}

/* Botones */
button {
  margin-top: 15px;
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background: #ff3b3b;
  transition: 0.3s;
}

button:hover:not(:disabled) {
  background: #e52e2e;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#mensaje {
  margin-top: 15px;
  font-size: 18px;
  min-height: 40px;
}


.juego-ganado {
  box-shadow: 0 0 25px #00ff6a;
  border: 2px solid #00ff6a;
}

.juego-perdido {
  box-shadow: 0 0 25px #ff3b3b;
  border: 2px solid #ff3b3b;
}


#mensaje {
  transition: 0.3s ease-in-out;
}
body {
    background: #0a0a0c;
    background-image: radial-gradient(circle at 1px 1px, #ff3b3b39 1px, transparent 0);
    background-size: 40px 40px;
}
.interfaz-juego {
    background: #11131a;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
    transition: 0.3s ease-in-out;

    
    background-image: url("adivino.png");
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}


.interfaz-juego::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55); 
    z-index: 0;
    border-radius: 15px;
}


.interfaz-juego > * {
    position: relative;
    z-index: 1;
}
